%div{:class => "main"}
  %div{:class => "main-sidebar"}
    %div{:class => "app-title"} Yigga
    %div{:class => "sidebar"}
      %ul{:class => "sidebar-menu"}
        %li{:class => "sidebar-header"} Main Navigation
        %li{:class => "menu-tree"}
          %i{:class => "fas fa-tachometer-alt"}
          %a{:href => ""} Dashboard
        %li{:class => "menu-tree"}
          %i{:class => "fas fa-file-alt"}
          %a{:href => "/pages"} Pages
        - if @user.role == user_roles[0]
          %li{:class => "menu-tree"}
            %i{:class => "fas fa-bars"}
            %a{:href => "/category"} Categories
          %li{:class => "menu-tree"}
            %i{:class => "fas fa-users"}
            %a{:href => "/user"} Users
