%div{:class => ["border", "login-div"]}
  %span{:class => "login-title"} Account Signup
  %form
    %div{:class => "form-group"}
      %label{:for => "first_name"} First Name
      %input{:type => "text", :class => "form-control", :id => "first_name", :placeholder => "Enter your first name"}

    %div{:class => "form-group"}
      %label{:for => "last_name"} Last Name
      %input{:type => "text", :class => "form-control", :id => "last_name", :placeholder => "Enter your last name"}

    %div{:class => "form-group"}
      %label{:for => "password"} Password
      %input{:type => "password", :class => "form-control", :id => "password", :placeholder => "Enter your Password"}

    %div{:class => "form-group"}
      %label{:for => "confirm_password"} Confirm Password
      %input{:type => "password", :class => "form-control", :id => "confirm_password", :placeholder => "Confirm your password"}

    %div{:class => "form-group"}
      %label{:for => "email"} Email
      %input{:type => "email", :class => "form-control", :id => "email", :placeholder => "eg example@domain.com"}

    %button{:type => "submit", :class => "submit-btn"} Submit