%div{:class => ["border", "login-div"]}
  %span{:class => "login-title"} Yiigaa Signin
  %form{:action => "/signin", :method => "POST"}
    - if flash[:error]
      %div{:class => "alert alert-danger", :role => "alert"} #{flash[:error]}

    %div{:class => "form-group"}
      %label{:for => "email"} Email
      %input{:type => "email", :class => "form-control", :name => "user[email]", :id => "email", :placeholder => "Eg example@domain.com", :required => true}

    %div{:class => "form-group"}
      %label{:for => "password"} Password
      %input{:type => "password", :class => "form-control", :name => "user[password]", :id => "password", :placeholder => "Enter your Password", :required => true}

    %button{:type => "submit", :class => "submit-btn"} Submit

    %span{:class => "signup-in-account"}
      %a{:href => "/signup"} Create Account